
/* ================= general */

body {
	background-color: #FFFADF;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	scrollbar-arrow-color: #FFA800;
	scrollbar-face-color: #0D54BA;
	scrollbar-highlight-color: #137EE8;
	scrollbar-3dlight-color: #6DAEE9;
	scrollbar-shadow-color: #1B2487;
	scrollbar-darkshadow-color: #000000;
}


/* ================= form */

input, select, textarea {
	font-weight: normal;
	color: #000000;
}


/* ================= admin.php and user_changepwd.php */

.outer_table {
	background-color: #B5D3FF;
}

.table_head {
	border-left: 1px dotted #000000;
	border-right: 1px dotted #000000;
	border-top: 1px dotted #000000;
	background-color: #C0C0C0;
}

.table_body {
	border: 1px dotted #001061;
}

.outer_table_heading {
	font-size: 14;
	cursor:default;
	font-weight: bold;
	color: #000000;
}

.outer_table_action {
	font-size: 12;
	font-weight: bold;
	color: #001061;
}

.inner_table_head {
	border-bottom: 1px dashed #001061;
	background-color: #164093;
}

.inner_table_column_heading {
	font-weight: bold;
	color: #FFFFFF;
}

.table_bottom_panel {
	border-left: 1px dotted #000000;
	border-right: 1px dotted #000000;
	border-bottom: 1px dotted #000000;
	background-color: #C0C0C0;
}


/* ================= login.php */

.box {
	border: 1px solid #629DE7;
	background-color:#164093;
}

.box_text {
	background-color: #164093;
	padding-left: 3px;
	padding-right: 3px;
	cursor: default;
	font-weight: normal;
	color: #B0DDFF;
}


/* ================= catalog table */

.highlight td {
	font-weight: bold;
}

.catalog table {
	width: 90%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.catalog tr {
	border-collapse: collapse;
}

.catalog th {
	vertical-align: top;
	text-align: center;
	background-color: #f7d709;
}

.catalog th:not(.sorttable_nosort):hover {
	text-decoration: none;
	background-color: gray;
	color: white;
}

.catalog td, th {
	border-collapse: collapse;
	padding-left: 0.8ex;
	padding-right: 0.8ex;
}

tr.pair {
	background-color: FFFADF;
}

tr.impair {
	background-color: FFFF90;
}

tr.menu {
	background-color: FFFF90;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
	content: "\00A0\21C5";
	}


/* ================= alert */

@keyframes blink { 
	50% {
		border-color: #001061;
	} 
}

center.alert {
	border-width: 5px;
	border-style: dotted;
	border-color: orange;
	animation-name: blink ;
	animation-duration: 0.5s ;
	animation-timing-function: step-end ;
	animation-iteration-count: infinite ;
	animation-direction: alternate ;
	border-radius: 25px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 20px;
}

.alert button.green {
	color: #00CC00;
}
.alert button.red {
	color: #CC0000;
}

.alert hr {
	border-width: 2px;
	border-style: solid;
	color: orange;
	width: 30%;
}

/* ================= index */

.index {
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
}


/* ================= icon */

span.check-ok {
	color: #00CC00;
}

span.check-bad {
	color: #CC0000;
}

span.option-right {
	float: right;
	margin-right: 2px;
}


/* ================= header */

.header {
	display: block;
	clear: both;
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.header-logo {
	float: left;
	overflow: hidden;
	padding: 0px;
}

.header-title {
	float: left;
	overflow: hidden;
	padding: 0px 0px 0px 30px;
	font-size: 14;
	font-weight: bold;
	color: #001061;
}

.header br {
	clear: both;
	line-height: 0px;
}

/* ================= footer */

.footer img {
	padding-top: 1.5em;
	padding-bottom: 1em;
}

.footer br {
	line-height: 0.2em;
}

.footer i {
	font-size: smaller;
}
