body { background-color:#FFFADF; margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;


	scrollbar-arrow-color: #FFA800; scrollbar-face-color: #0D54BA;
	
	scrollbar-highlight-color: #137EE8; scrollbar-3dlight-color: #6DAEE9;
	
	scrollbar-shadow-color: #1B2487; scrollbar-darkshadow-color: #000000;

}

td, p { font-size: 12; font-family: Arial, sans-serif; font-weight: normal; color:#001061; }

input, select, textarea { font-size: 10; font-family: Arial, sans-serif; font-weight: normal; color:#000000; }

.heading { font-size: 14; font-family: Arial, sans-serif; font-weight: bold; color:#001061; text-transform: uppercase; }
.heading_left { padding-left:7; padding-right:7; width:270; 
	FILTER: DropShadow(Color=#000000, OffX=2, OffY=2, Positive=1);
	font-size: 14; font-family: Arial, sans-serif; font-weight: bold; color:#E2ECFF; text-transform: uppercase; }

tr.pair 	{	background-color:FFFADF;	}
tr.impair	{	background-color:Ffff90;	}
tr.menu		{	background-color:Ffff90;	}

.box { border:1px solid #629DE7; background-color:#164093; }

.box_text { background-color:#164093; padding-left:3; padding-right:3;
 cursor:default; font-weight: normal; color:#B0DDFF; }

.box_heading { padding-left:3; padding-right:3; cursor:default; font-weight: bold; color:#7AA6FF; }

.label { font-size: 12; font-family: Arial, sans-serif; font-weight: bold; color:#4060A1; }

.subject { background-color: #ABC4E5; font-weight: bold; padding-left: 3; border-color: #001061; border-width:1; border-style:solid; }

iframe { border:2px inset #98C2F7; }

.outer_table { background-color: #B5D3FF; }

.table_head { border-left: 1px dotted #000000; border-right: 1px dotted #000000; border-top: 1px dotted #000000; background-color: #C0C0C0; }

.table_body { border: 1px dotted #001061; }

.section_body { border-bottom: 1px dotted #001061; }

.outer_table_heading { font-size: 14; font-family: Arial, sans-serif; cursor:default; font-weight: bold; color: #000000; }

.outer_table_action { font-size: 12; font-family: Arial, sans-serif; font-weight: bold; color: #001061; }

.inner_table_head { border-bottom: 1px dashed #001061; background-color: #164093; }

.inner_table_column_heading { font-weight: bold; color: #FFFFFF; }

.table_bottom_panel { border-left: 1px dotted #000000; border-right: 1px dotted #000000; border-bottom: 1px dotted #000000; background-color: #C0C0C0; }

.bottom_panel_button { font-size: 12; font-family: Arial, sans-serif; }

.project_title { font-size: 12; font-family: Arial, sans-serif; font-weight: bold; color: #001061; }

.project_status { font-size: 12; font-family: Arial, sans-serif; color: #FFFFFF; }

.calendar_cell_disabled_middle { border-bottom: 1px dotted #001061; border-right: 1px dotted #001061; }

.calendar_cell_disabled_right { border-bottom: 1px dotted #001061; }

.calendar_cell_middle { border-bottom: 1px dotted #001061; border-right: 1px dotted #001061; }

.calendar_cell_right { border-bottom: 1px dotted #001061; }

.calendar_totals_line_monthly { font-size: 10; font-family: Arial, sans-serif; font-weight: bold; color: black; }

.calendar_total_value_monthly { font-size: 10; font-family: Arial, sans-serif; font-weight: bold; color: red; }

.calendar_totals_line_weekly { border-bottom: 1px dotted #001061; font-size: 10; font-family: Arial, sans-serif; font-weight: normal; color: black; }

.calendar_total_value_weekly { font-size: 10; font-family: Arial, sans-serif; font-weight: bold; color: red; }

.calendar_day_heading { font-weight: bold; color: #FFFFFF; }

.clock_on_box { border: 1px dashed #00BF00; }

.clock_off_box { border: 1px dashed #FF1010; }

.clock_on_text { color: #00BF00; }

.clock_off_text { color: #FF1010; }

.grey_area { background-color: #C0C0C0; }

.white_heading { font-size: 20; font-family: Arial, sans-serif; font-weight: bold; font-style: italic; color: #FFFFFF; }

span.check-ok { color: #00CC00; }
span.check-bad { color: #CC0000; }
